.catalogo{
  color: red;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

h1 {
  grid-column: 1 / -1;
}

.Card{
  color:black;
  background-color: blanchedalmond;
  
}

img{
  width: 400px ;
  height: 250px;
}